
 core-scaffold core-header-panel core-toolbar
 {
   background: #7dc5f2;
   font-family: 'Nunito', sans-serif;
   font-weight: 400; 
 }
  
  core-scaffold::shadow core-toolbar
  {
    background: #7dc5f2;
    font-family: 'Nunito', sans-serif;
    font-weight: 300; 
    color: #edf9ff;
  }