.hidden
{
  display: none;
}
body {
			padding:0; 
			margin:0; 
		}
		div.container{
			height: 100%;
			width: 100%;
			background-color: #7dc5f2;
		}
		div.top {
			height: 280px;
			width: 100%;
			background-color: #7dc5f2;
		}
		div.micro{
			margin: 0 auto;
			padding: 40px;
			width: 200px;
			height: 179px;
		}
		div.bottom{
			height: 100%;
			width: 100%;
			background-color: #363b3f;
		}
		div.largeText{
			font-family: 'Nunito', sans-serif;
			width: 356px;
			height: 30px;
			font-size: 28px;
			color: #ffffff;
			margin: 0 auto;
			padding: 25px;
			font-weight: 400; 
		}
		
		div.smallText{ 
			font-family: 'Nunito', sans-serif;
			width: 50%;
			height: 60px;
			font-size: 16px;
			color: #ffffff;
			margin: 0 auto;
			text-align: center;
			font-weight: 300; 
		}
		div.button1{
			width: 386px;
			height: 65px;
			margin: 0 auto;
			padding: 25px;
		}
		div.holder{
			padding: 20px;
			width: 332px;
			margin: 0 auto;
		}
		button {
		    border : 0px;
		    -moz-border-radius:7px;
		    -webkit-border-radius:7px;
		    border-radius:7px;
		    padding:0; 
			margin:0;
			outline: none;
		}