<html>
  <head>
    <title>Dashboard | AdversaryLab</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <button id="addCaptureButton">Add capture file</button>
    <div id="uploader" class="hidden">
      <form enctype="multipart/form-data" action="$uploadUrl" method="post" > 
  	    <input type="file" name="pcapFile"/> 
    		<input type="submit"/> 
	    </form> 
    </div>
    <ul id="pcaps">
    #foreach($pcap in $pcaps)
      <li>
        $pcap.filename
      
        #if($pcap.status==0)
          Processing
        #elseif($pcap.status==1)
          Complete
        #else
          Unknown
        #end
      </li>
    #end
    </ul>
  </body>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/lib/debug.js"></script>
  <script type="text/javascript">
    userid="$userid";
  </script>
  <script type="text/javascript" src="/static/index.js"></script>
</html>