<html>
  <head>
    <title>FreefallDB</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="http://beta.freefalldb.com/styles/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="tabs">
      <ul>
        <li><a href="#source"><span>Source</span></a></li>
<!--        <li><a href="#editor"><span>Editor</span></a></li>-->
      </ul>
      <div id="source">
        <button id="saveDoc">Save</button>
        <textarea id="doc" class="bespin" data-bespinoptions='{"stealFocus": true, "syntax": "js"}' rows="25" cols="80"></textarea>
<!--        <div id="doc" class="bespin" data-bespinoptions='{"stealFocus": true, "syntax": "js"}'/>-->
      </div>
      <!--
      <div id="editor">
        <div id="typeControls">
          <input type="radio" name="type" value="null"><label for="null" class="null">null</label>
          <input type="radio" name="type" value="string"><label for="string" class="string">string</label>
          <input type="radio" name="type" value="number"><label for="number" class="number">number</label>
          <input type="radio" name="type" value="boolean"><label for="boolean" class="boolean">boolean</label>
          <input type="radio" name="type" value="array"><label for="array" class="array">array</label>
          <input type="radio" name="type" value="map"><label for="map" class="map">map</label>
        </div>
        <div id="editorMain">
        </div>
      </div>
      -->
  </body>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://omgwerock.com/~gah/web2peer/web2peer.js"></script>
  <script type="text/javascript" src="http://beta.freefalldb.com/lib/json2.js"></script>
  <script type="text/javascript" src="http://beta.freefalldb.com/lib/jsonlint.js"></script>
  <script type="text/javascript" src="http://beta.freefalldb.com/lib/debug.js"></script>
  <script type="text/javascript" src="http://beta.freefalldb.com/lib/codemirror/codemirror.js"></script>
  <script type="text/javascript" src="http://beta.freefalldb.com/scripts/freefall.js"></script>
<!--  <script type="text/javascript" data-main="main" src="http://beta.freefalldb.com/scripts/require-jquery.js"></script>-->
  <script type="text/javascript">
    userid="$userid";
    dbid="$dbid";
    docid="$docid";
    log('Init document '+dbid+' '+docid);
  </script>
<!--  <script type="text/javascript" src="/static/editor.js"></script>-->
  <script type="text/javascript" src="http://beta.freefalldb.com/scripts/document.js"></script>
</html>
