<html>
  <head>
    <title>Report on $dataset.name / $protocol.name | AdversaryLab</title>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
    </script>    
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
   <div class="container">
	  <div class="top2">
		  <div class="micro">
			  <a href="/welcome"><img src="/static/images/micro.png" width="200" height="179"/></a>
		  </div>
	  </div>
	  <div class="bottom2"> 	  
      <h1>Report on $dataset.name / $protocol.name</h1>
      <p>
        <h2>Length Report</h2>
        <div class="graph">      
        <p>
          <div id="incomingLengthProbs" style="padding: 4px;"></div>
          <div id="outgoingLengthProbs" style="padding: 4px;"></div>
        </p>
        </div>
      </p>
      <p>
        <h2>Stream Entropy Report</h2>
        <div class="graph">      
        <p>
          <div id="incomingEntropy" style="padding: 4px;"></div>
          <div id="outgoingEntropy" style="padding: 4px;"></div>
        </p>
        </div>
      </p>    
	  </div>
   </div>
  </body>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/lib/debug.js"></script>
  <script type="text/javascript">  
    userid="$userid";
    #if($report)
    report=$report;
    #else
    report=null;
    #end
  </script>
  <script type="text/javascript" src="/static/report.js"></script>
</html>
