<html>
  <head>
    <title>Welcome | FreefallDB - A cloud database for app development without a paracute</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <script language="javascript">
      #if($success)
        alert("success");
      #else
        alert("failure");
      #end
    </script>
  </body>
</html>
