<html>
  <head>
    <title>Report on $pcap.filename | AdversaryLab</title>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
    </script>    
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>Report on $pcap.filename</h1>
    <p>
      <h2>Length Report</h2>
      <p>
        <div id="lengthCount"></div>
        <div id="lengthProbability"></div>
      </p>
    </p>
    <p>
      <a href="/download?filekey=$pcap.filekey.key()">Download Capture File</a>
    </p>
  </body>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/lib/debug.js"></script>
  <script type="text/javascript">  
    userid="$userid";
    report=$pcap.report
  </script>
  <script type="text/javascript" src="/static/report.js"></script>
</html>
