<html>
  <head>
    <title>Uploading | AdversaryLab</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    Processing...
  </body>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/lib/debug.js"></script>
  <script type="text/javascript">
    userid="$userid";
  </script>
  <script type="text/javascript" src="/static/upload.js"></script>
</html>